.navbar {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.navbar>.navbar-list {
    list-style-type: none;
    margin: 0;
    flex: 1 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar-item a:hover {
    background-color: #333333;
    color: lightskyblue;
}

.